/* Amazon Ember Font Family */
@font-face {
  font-family: 'Amazon Ember';
  src: url('./EmberFont/AmazonEmber_Lt.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Amazon Ember';
  src: url('./EmberFont/AmazonEmber_Rg.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Amazon Ember';
  src: url('./EmberFont/Amazon-Ember-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Amazon Ember';
  src: url('./EmberFont/AmazonEmber_He.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Amazon Ember';
  src: url('./EmberFont/AmazonEmber_Bd.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

